name: Build Flutter (APK + Web)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.22.3"
          channel: "stable"
          cache: true

      - name: Flutter doctor
        run: flutter doctor -v

      - name: Flutter pub get
        working-directory: rest
        run: flutter pub get

      - name: Make gradlew executable
        working-directory: rest
        run: chmod +x android/gradlew

      - name: Build APK (debug)
        working-directory: rest
        run: flutter build apk --debug

      - name: Build Web (release)
        working-directory: rest
        run: flutter build web --release

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: rest/build/app/outputs/flutter-apk/app-debug.apk

      - name: Upload Web artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-build
          path: rest/build/web
